[package]
name = "aerospike_async"
version = "0.2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "_aerospike_async_native"
crate-type = ["cdylib", "rlib"]

[dependencies]
pyo3 = { version = "0.26", default-features = false }
pyo3-async-runtimes = { version = "0.26", features = ["tokio-runtime"] }
tokio = "1.40"
aerospike-core = { git = "https://github.com/aerospike/aerospike-client-rust.git", rev = "072bd5daa854f204df621965bc55fd45575f2684", package = "aerospike-core", features = ["rt-tokio"] }
hex = "0.4"
ordered-float = { version = "3", default-features = false }
pyo3-stub-gen = "0.14.1"
log = "0.4"
futures = "0.3"

[features]
default = ["extension-module"]
extension-module = ["pyo3/extension-module"]

[[bin]]
name = "stub_gen"
path = "src/bin/stub_gen.rs"

[profile.release]
strip = "debuginfo"
