name: CI Build and Publish

on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Target PyPI repo'
        required: true
        type: choice
        options:
          - 'test.pypi.org'
          - 'pypi.org'
        default: 'test.pypi.org'

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: wheels
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ inputs.repo == 'pypi.org' && secrets.PYPI_API_TOKEN || secrets.TEST_PYPI_API_TOKEN }}
        with:
          command: upload
          args: --non-interactive --repository-url ${{ inputs.repo }} --skip-existing *
